body {
    font-family: sans-serif;
}
header{
    background: blue;
}
header img{
    padding:10px;
    height:50px;
    width: 50px;
}
header a{
    color: yellow;
    margin-left:390px;
    text-decoration:none;
    border:1px solid green;
    background: white;
    margin-bottom: 50px;


}
b{
    margin:10px;
